footer {
    width: 100vw;
    font-size: 11px;
    text-align: center;
    background-color: var(--lightGrayishBlue);
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: var(--veryDarkBlue)
}

footer a:hover {
    color: var(--orange);
}