.product-container {
    display: flex;
    padding: 100px 10%;
    gap: 100px;
}

/* .page-divider {
    display: flex;
    width: 100px;
} */

@media screen and (max-width: 1200px) {
    .product-container {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .product-container {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
}