.product-item {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--paleOrange);
}

.product-container {
    display: flex;
    gap: 100px;
}

@media screen and (max-width: 1200px) {
    .product-container {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .product-container {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
}